* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(assets/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: Bold;
    src: url(assets/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: Medium;
    src: url(assets/font/Montserrat-Medium.ttf);
}

#bg {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #1E1E1E;
}

#Img-BG {
    z-index: 2;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(assets/bg-img.png);
}

#logo {
    z-index: 3;
    position: absolute;
    width: 250px;
    height: 141px;
    left: 835px;
    top: 63px;
    background: url(assets/logo.png);
}

#Project-Name {
    z-index: 3;
    position: absolute;
    width: 484px;
    height: 24px;
    left: 718px;
    top: 204px;
    font-family: 'Montserrat';
    font-style: Medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#line-logo {
    z-index: 3;
    position: absolute;
    width: 498px;
    height: 2px;
    left: 711px;
    top: 241px;
    background: #FFFFFF;
}

#text-1 {
    z-index: 3;
    position: absolute;
    width: 484px;
    height: 72px;
    left: 718px;
    top: 249px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#button-start {
    z-index: 3;
    position: absolute;
    width: 409px;
    height: 64px;
    left: 755px;
    top: 342px;
    background: #3D3D3D;
    box-shadow: 0px 4px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

#button-start-text {
    z-index: 3;
    position: absolute;
    width: 386px;
    height: 24px;
    left: 772px;
    top: 362px;
    font-family: 'Montserrat';
    font-style: Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#h-bg {
    z-index: 3;
    position: absolute;
    width: 624px;
    height: 63px;
    left: 33.75vw;
    top: 0vh;
    background: #242424;
    border-radius: 0px 0px 10px 10px;
}

#Text-Main {
    position: absolute;
    left: 23px;
    top: 21px;
    bottom: 9.09%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#Img-Main {
    position: absolute;
    left: 112px;
    Width: 20px;
    Height: 20px;
    top: 22px;
    bottom: 0%;
    background: url(assets/main.png);
}

#Start-Game {
    position: absolute;
    left: 159px;
    top: 21px;
    bottom: 9.09%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#Img-Start {
    position: absolute;
    Width: 20px;
    Height: 20px;
    left: 312px;
    top: 22px;
    bottom: 0%;
    background: url(assets/start.png);
}

#Text-Shop {
    position: absolute;
    left: 359px;
    top: 21px;
    bottom: 13.64%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#Img-Shop {
    position: absolute;
    Width: 20px;
    Height: 20px;
    left: 455px;
    top: 22px;
    bottom: 0%;
    background: url(assets/shop.png);
}

#Text-Forum {
    position: absolute;
    left: 502px;
    top: 21px;
    bottom: 13.64%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#Img-Forum {
    position: absolute;
    Width: 20px;
    Height: 20px;
    left: 580px;
    top: 22px;
    bottom: 0%;
    background: url(assets/forum.png);
}

#bg-video-1 {
    z-index: 3;
    position: absolute;
    width: 766px;
    height: 382px;
    left: 577px;
    top: 443px;
    background: #000000;
    border-radius: 14px;
}

#text-video-1 {
    z-index: 3;
    position: absolute;
    width: 498px;
    height: 24px;
    left: 660px;
    top: 464px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#video-img {
    z-index: 3;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 592px;
    top: 450px;
    background: url(assets/video-img.png);
}

#video-start-img {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 584px;
    background: url(assets/video-start-img.png);
}

#line-end {
    z-index: 3;
    position: absolute;
    width: 1865px;
    height: 2px;
    left: 27px;
    top: 866px;
    background: #565656;
}

#text-support {
    z-index: 3;
    position: absolute;
    width: 239px;
    height: 24px;
    left: 37px;
    top: 889px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(191, 0, 0, 0.5);
}

#text-support-1 {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 173px;
    height: 24px;
    left: 37px;
    top: 920px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);
}

#text-support-2 {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 146px;
    height: 24px;
    left: 232px;
    top: 920px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);
}

#text-support-3 {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 89px;
    height: 24px;
    left: 399px;
    top: 920px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);
}

#text-auth {
    z-index: 3;
    position: absolute;
    width: 226px;
    height: 24px;
    left: 851px;
    top: 909px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);
}

#text-copyright {
    z-index: 3;
    position: absolute;
    width: 388px;
    height: 24px;
    left: 1509px;
    top: 882px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

#logo-mastercard {
    z-index: 3;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1570px;
    top: 909px;
    background: url(assets/mastercard.png);
}

#logo-visa {
    z-index: 3;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1638px;
    top: 909px;
    background: url(assets/visa.png);
}

#logo-qiwi {
    z-index: 3;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1706px;
    top: 912px;
    background: url(assets/qiwi.png);
}

#logo-apple {
    z-index: 3;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1769px;
    top: 909px;
    background: url(assets/apple.png);
}

#logo-vk {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1615px;
    top: 16px;
    background: url(assets/vk.png);
}

#logo-discord {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1645px;
    top: 16px;
    background: url(assets/discord.png);
}

#logo-telegram {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1675px;
    top: 16px;
    background: url(assets/telegram.png);
}

#text-3 {
    z-index: 3;
    position: absolute;
    width: 187px;
    height: 24px;
    left: 1715px;
    top: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#How-Start {
    z-index: 3;
    position: absolute;
    width: 692px;
    height: 62px;
    left: 189px;
    top: 295px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}

#Tutor {
    z-index: 3;
    position: absolute;
    width: 484px;
    height: 94px;
    left: 195px;
    top: 384px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#Mini-Tutor {
    z-index: 3;
    position: absolute;
    width: 556px;
    height: 65px;
    left: 195px;
    top: 493px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#text-launcher {
    z-index: 4;
    position: absolute;
    width: 106px;
    height: 24px;
    left: 240px;
    top: 591px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#button-launcher {
    z-index: 3;
    position: absolute;
    width: 195px;
    height: 64px;
    left: 195px;
    top: 573px;
    background: #3D3D3D;
    box-shadow: 0px 4px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

#tutor-1 {
    z-index: 3;
    position: absolute;
    width: 766px;
    height: 382px;
    left: 964px;
    top: 284px;
    background: #000000;
    border-radius: 14px;
}

#text-tutor-1 {
    z-index: 3;
    position: absolute;
    width: 471px;
    height: 24px;
    left: 1047px;
    top: 305px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#tutor-img {
    z-index: 3;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 979px;
    top: 291px;
    background: url(assets/video-img.png);
}

#tutor-start-img {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1297px;
    top: 425px;
    background: url(assets/video-start-img.png);
}

#bg-money {
    z-index: 3;
    position: absolute;
    width: 640px;
    height: 46px;
    left: 640px;
    top: 254px;
    background: #2A2A2A;
    border-radius: 15px;
}

#convert-money-text {
    z-index: 3;
    position: absolute;
    width: 362px;
    height: 24px;
    left: 779px;
    top: 265px;
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#bg-donate {
    z-index: 3;
    position: absolute;
    width: 640px;
    height: 305px;
    left: 640px;
    top: 313px;
    background: #2A2A2A;
    border-radius: 15px;
}

#list-server {
    z-index: 3;
    position: absolute;
    width: 247px;
    height: 26px;
    left: 664px;
    top: 332px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#server-1 {
    z-index: 3;
    position: absolute;
    width: 101px;
    height: 26px;
    left: 921px;
    top: 332px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#player-id {
    z-index: 3;
    position: absolute;
    width: 195px;
    height: 26px;
    left: 679px;
    top: 408px;
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

#suma {
    z-index: 3;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 782px;
    top: 444px;
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

#e-mail {
    z-index: 3;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 782px;
    top: 483px;
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

#editbox1 {
    z-index: 3;
    position: absolute;
    width: 326px;
    height: 28px;
    left: 878px;
    top: 406px;
    background: #202020;
    border-radius: 4px;
}

#editbox2 {
    z-index: 3;
    position: absolute;
    width: 326px;
    height: 28px;
    left: 878px;
    top: 444px;
    background: #202020;
    border-radius: 4px;
}

#editbox3 {
    z-index: 3;
    position: absolute;
    width: 326px;
    height: 28px;
    left: 878px;
    top: 482px;
    background: #202020;
    border-radius: 4px;
}

#chekbox1 {
    z-index: 3;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 696px;
    top: 554px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

#licens-text {
    z-index: 3;
    position: absolute;
    width: 184px;
    height: 14px;
    left: 717px;
    top: 554px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

#licens-click-text {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    width: 329px;
    height: 14px;
    left: 899px;
    top: 554px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000AFF;
}

#Dow-Laucher {
    cursor: pointer;
}

#main-button {
    cursor: pointer;
}

#start-button {
    cursor: pointer;
}

#shop-button {
    cursor: pointer;
}

#forum-button {
    cursor: pointer;
}